.middletext{
    position: relative;
    z-index: 2;
    max-width: 600px;
    font-size: 1.5rem;
    font-weight: 700;
  }

.middletext span {
  color: rgba(54, 116, 181, 1); 
  font-weight: 900;
}

.bodypart {
  position: relative;
  width: 100%;
  min-height: 70vh; /* Adjust height as needed */
  background: url("../../assets/backgroundimage.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  opacity: 0.8;
}


.button1 {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}