/* Body.css */

.bodypart {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: url('../../assets/background.png') center/cover no-repeat;
  height: 100vh;
  position: relative;
  background-color: rgb(12, 10, 10);
  opacity: 1;
}

.middletext {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 10px;
  border-radius: 10px;
  width: 507px; 
  height: 197px;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  z-index: 1; 
}

.middletext p {
  margin: 10px 0;
  font-size: 32px;
  color: white; 
}

.highlight {
  color: #49a7ff;
  font-weight: bold;
  height: 95px;
}

.des {
  width: 577px; 
  height: 52px; 
  left: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  color: white; 
  font-family: Roboto;


}

.button1 {
  margin-top: 15px;
  padding: 10px 20px;
  background: rgba(54, 116, 181, 1);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 8px;
}

.button1:hover {
  background-color: #307dc1;
}