/* BrainTeaser.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(54, 116, 181, 0.15);
  padding: 20px;
  gap: 248px;
  height: 900px;
  margin-top: 180px;
  font-family: 'Roboto' sans-serif;
}

/* Image styling */
.BrainTeaserImage {
  max-width: 300px;
  width: 260;
  height: 513px;
  top: 149px;
  left: 200px;

}


.content {
  padding: 30px;
  width: 450px;
  height: 513px;
  left: 708px;
  width: 531;
  border-radius: 35px;
  border-width: 1px;
  margin-top: 110px;
  
  
  

}

/* Brain Teasers title */
.brain{
  font-size: 28px;
  font-weight: 700;
  color: #0056b3;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
  
}

.brain span{
  color:black;
}

/* Question styling */
.TeaserQuestion {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: left;
  line-height: 100%;
  width: 531px;
  


}

/* Options list */
.options ul {
  list-style: none;
  padding: 0;
  height: 30px;
  width:531px;
}

/* Individual options */
.options li {
  padding: 12px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius:35px;
  border: 1px solid rgba(87, 143, 202, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  
}

/* Hover effect */
.options li:hover {
  background-color: #c9ddff;
}

