
.footer {

  background-color: #222;
  color: white;
  padding: 20px 0;
  width: 100%;
  position: relative;
  height: 432px;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 100px;
}

.footercsithub {
  margin-left: 100px;
}

.footer-logo p{
  width: 355px;
  height: 103px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;

}
.footer-links {
  display: flex;

  gap: 200px;
  margin-right: 136px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.footer-links p {
  margin: 0;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background-color: #333;
  font-size: 14px;
  margin-top: 110px;
}
