
.firstpart {
  text-align: center;
  line-height: 20px;
  font-family: 'Roboto' sans-serif;
}

.why {
  font-size: 28px;
  font-weight: bold;
  margin-top: 93px;
  
}

.why span {
  color: #007bff; /* Adjust the color to match your theme */

}

.secondpart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px; /* Adjust the spacing between the images */
  margin-top: 30px;
  width: 1299;
  height: 396;
  top: 36px;
  left: 71px;
  right: 70px;

}





